@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: "lexend", sans-serif;
}

html { 
    min-height: 100vh;
    background-image: url(./image\ 2.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

body {
    backdrop-filter: blur(30px);
    min-height: 100vh;
}

nav {
    background-color: rgba(255, 255, 255, 0.145);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.nav--logo {
    width: 70px;
}

nav ul {
    display: flex;
    gap: 1.5em;
    list-style: none;
    color: red;
}

.links {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1em;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.456)
}

.links:hover {
    color:#fefefe
}

.social-links a i {
 color: #fefefe;
 font-size: 1.2em;
 transition: all .3s ease-in-out;
}

.social-links a i:hover {
    color: #f3f3f3;
    transform: scaleX(1.2, 1.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.124);
}

.social-links {
    background-color: rgba(255, 255, 255, 0.235);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    gap: 1em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.085);
}